// one
.content {
    >.box {
        padding: 15px;

        >.title {
            font-size: 18px;
        }
    }

    .cat {
        padding: 15px;
    }


}

.content.premium {
    & {
        :hover {
            background-color: #eee;
        }

        :before {
            content: "Premium Box";
        }
    }
}

//two
.class> {
    .child {
        padding: 10px;
    }
}

.class {
    >.child {
        padding: 10px;
    }
}

.class {
    > {
        .child {
            padding: 10px;
        }
    }
}

//three
.class {
    & {
        font-weight: bold;
        font-size: 20px;
    }

}

//four
// .parent+.sibling {
//     margin: auto;
//     margin-top: 10px;
// }

// .parent+.sibling~.last {
//     padding: 10px;
// }

// five

//six
%shared-styles {
    background-color: white;
    padding: 20px;
}

.my-class {
    @extend %shared-styles;
    border: 1px solid #CCC;
    font-weight: bold;
    margin: 20px auto;
}

//seven


.box {

    h2,
    p {

        font-size: 20px;
    }

    @media (max-width: 575px) {

        & {

            h2,
            p {
                font-size: 16px;
            }
        }



        & {

            h2,
            p {
                span {
                    font-weight: bold;
                }
            }
        }

    }
}

// eight

$red: #e91e63;
$green: #009688;

// Add What You Want Here

$link-hover: $red;
$link-color: $green;

.box a {
    color: $link-color;

    &:hover {
        color: $link-hover;
    }
}

//ten
.box {
    font-size: 20px;

    &-holder {
        width: 1000px;

        &-content {
            margin: auto;
        }
    }


}


// eleven
$main: "school";
$child: "box";
$language: "ar"; // English
$gap: 20px;

// Output
.school {
    &-#{$child} {
        padding: calc($gap / 2);
    }

    &:hover {
        .school-#{$child} {
            background-color: #eee;
        }
    }

    padding: $gap;
    direction: if(#{$language}=="en", "ltr", "rtl");
    margin-left: $gap;
}

//twelve
// SASS Code
$main-color: red;
$alt-color: blue;

// Needed Output
/* Theme Version: 1.0 */
/* Website Theme Main Color Is: #{$main-color} */
/* Website Theme Alternate Color Is: #{$alt-color} */

//thirteen
$number: 6;

.class {
    @if($number > 8) {
        color: blue;
    }

    @else if($number > 5) {
        color: green;
    }

    @else {
        color: red;
    }
}

// fourteen
$number: 10;
$color: red;
$theme: light;

@if ($number > 5 and $color ==red and $theme !=dark) {
    .class {
        color: red;
    }
}

//fifteen
$number: 8;

@if ($number == 10) {
    .box {
        background-color: #EEE;
        text-align: center;
    }
}

@else if ($number == 9) {
    .box {
        background-color: #EEE;
    }
}